*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",  sans-serif;
}
div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:  rgb(207, 216, 150);
}
div.mid-container{
    /* background: darkslategray; */
    background: #3a4452;
    padding: 20px;
    border-radius: 1rem;

}
div.display-header{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-size: 70px;
    box-shadow: none;
}
div.display-header input{
    font-size: 50px;
    text-align: right;
    flex: 1;
    box-shadow: none;
}
div.mid-container form input{
    border: none;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
form input.readings{
    box-shadow: none;
}
form input.result{
    /* width: none; */
    flex: 1;
    width: 240px;
    color: #fd783f;
}
form input.operator{
    color: #3ffde3;
}

/* m4-1c2b4a6c8b */